body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f7f8fa;
  margin: 0;
}

h2 {
  margin-top: 24px;
  color: #051937;
}

button {
  background: #3066be;
  color: white;
  border: none;
  padding: 6px 15px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background: #d3d3d3;
  color: #a7a7a7;
  cursor: not-allowed;
}

nav {
  background-color: #fff;
}
